
/*ADMIN side*/
.admin-list {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.admin-list li {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-base-200);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.admin-list li:nth-child(even) {
  background-color: var(--color-base-300);
}
.admin-list li .admin-list-inner {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.admin-list li .thumbnail {
  width: 36px;
  height: 36px;
  margin-right: 12px;
  border-radius: 100%;
  border: 2px solid var(--color-base-300);
}

.admin-list li span {
  flex-grow: 1;
  font-size: 18px;
  margin-right: auto;
  margin-left: auto;
}

.admin-list li button {
  margin-left: 10px;
}

.edit-btn, .delete-btn {
  margin: 0 10px 10px 0;
  padding: 5px 10px;
  
}
.edit-btn,
.make-btn{
  background-color: var(--color-info);
  border: 2px solid var(--color-info);

}
.delete-btn{
  background-color: var(--color-error);
  border: 2px solid var(--color-error);
}
.edit-btn:hover {
  background-color: var(--color-base-100);
  color: var( --color-neutral);
  border: 2px solid var(--color-info);
}

.delete-btn:hover {
  background-color: var(--color-base-100);
  color: var( --color-neutral);
  border: 2px solid var(--color-error);

}

.make-btn {
  display: inline-block;
  align-items: center;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
}


app-modal {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-card {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: var(--color-base-100);
  border-radius: 5px;
  box-shadow: var(--box-shadow-lg);
}
.modal-header {
  margin-bottom: 20px;
}
.modal-header .title {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}
app-modal .modal-card input#modal-input {
  width: 100%;
}
.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/*LOGIN*/
.login, .register {
    width: 300px;
    background: var(--color-base-200);
    box-shadow: var(--box-shadow-lg);
    border-radius: 10px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
 
  
  .login, .register:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .login-container, .register-container {
    padding: 20px;
  }
  
  input[type=email], input[type=password],input[type=name], input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
.input-wrapper {
    padding: 6px 0;
}
  
.actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px;
}

.make-container h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}
.make-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.make-container form {
  width: 100%;
  max-width: 500px;
  padding: 20px;
}

.make-container form input,
.make-container form textarea {
  width: 100%;
}
.make-container form .actions {
  width: 100%;
  padding: 12px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#text {
  height: 200px;
  resize: none; 
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.slett-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

/* ADMIN PAGE STYLING */
.admin-page  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(
    -50deg,
    transparent 0%,
    transparent 10%,
    var(--color-background-graphics) 10%,
    var(--color-background-graphics) 20%,
    transparent 20%,
    transparent 50%,
    var(--color-background-graphics) 50%,
    var(--color-background-graphics) 70%,
    transparent 70%,
    transparent 100%
  );
}
.admin-title{
  text-align: center;
  font-size: 24px;
}
.btn-new-post{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .admin-list li {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .admin-list li .admin-list-inner {
    width: auto;
  }
}