.post-container {
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}
.card-container {
  width: 100%;
  max-width: 350px;
  background: var(--color-base-200);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-lg);
  border-radius: 10px;
  overflow: hidden;
}

.hero-container {
  width: 100%;
}

.hero-container img {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  transition: ease-in-out 600ms;
}

.body-content {
  width: 100%;
  padding: 0 12px;
  cursor: pointer;
}

.body-content h3 {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
}

.body-content .excerpt {
  position: relative;
  height: 70px;
  overflow: hidden;
}
.body-content .excerpt-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    var(--color-base-200) 100%
  );
}
.body-content p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
}

.body-content .author {
  width: 100%;
  padding-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 8px;
  text-transform: uppercase;
  opacity: 0.5;
  letter-spacing: 1px;
}

.card-container .actions {
  width: 100%;
}

.post-content .body-content .author .tags-container .tags ul li {
  font-size: 12px;
  letter-spacing: 2px;
  list-style: none;
  margin-left: 8px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.post-content .body-content .author .tags-container .tags ul li:first-child {
  margin-left: 0px;
}

.post-content .body-content .author .tags-container .tags ul li:before {
  content: "";
  text-align: center;
  width: 100%;
  height: 5px;
  background: #fc6042;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  z-index: -1;
  padding: 0px 1px;
}

.post-content .body-content .author .tags-container .tags ul li:hover:before {
  height: 18px;
}

@media screen and (min-width: 800px) {
  .post-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card-container {
    width: 100%;
    max-width: 350px;
    background: var(--color-base-200);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow-lg);
    border-radius: 10px;
    overflow: hidden;
  }
}
