/*LOGIN*/
.login, .register {
    width: 300px;
    background: var(--color-base-200);
    box-shadow: var(--box-shadow-lg);
    border-radius: 10px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
 
  
  .login, .register:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .login-container, .register-container {
    padding: 20px;
  }
  
  input[type=email], input[type=password],input[type=name], input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
.input-wrapper {
    padding: 6px 0;
}
  
.actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px;
}