@import url('./colors.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
/*Iconer*/
@import url("https://www.nerdfonts.com/assets/css/webfont.css");


* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    font-family: 'Helvetica', sans-serif;
}

h1 h2 h3{
    font-family: 'Roboto Slab', serif;
    font-weight: 800;/*Hva er feil?*/
}

.nf-md-menu .nf-md-close .nf-fa-chevron_right{
   font-size: 24px; 
}

/*Mobile first*/
app-navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-background);
    font-size: large;
}
app-navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: var(--padding-sm);
}

#menuToggle {
    /*padding: var(--padding-sm) var(--padding-md);
    color: var(--color-secondary-content);*/
    font-size: large;
    background-color: transparent;
    border: none;
    margin-right: 10px;
}

.dropdown {
    position: absolute;
    top: 110%;
    right: 0;
    min-width: 150px;
    background-color: var(--color-base-200);
    box-shadow: var(--box-shadow-md);
    display: none;
    z-index: 1000;
}

.dropdown.open {
    display: block;
}

.dropdown ul {
    list-style: none;
    padding: var(--none);
    margin: var(--none);
}

.dropdown li {
    padding: var(--none);
    margin: var(--none);
}

.dropdown li a {
    text-decoration: none;
    display: block;
    line-height: 1.2;
    color: var(--color-neutral);
    text-align: center;
    padding: var(--padding-sm);
}

.dropdown li a:hover {
    color: var(--color-info-content);
    background-color: var(--color-primary);   
}

/*Karusellen*/
.carousel {
position: relative;
width: 100%;
height: 250px;
background-color: var(--color-primary);
min-width: 200px;
}

.prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
 }

.indicators {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.indicator {
    width: 64px;
    height: 64px;
    border-radius: 64px;
    background-color: var(--color-info-content);
    cursor: pointer;
    box-shadow: var(--box-shadow-lg);
    margin: 0 4px;
}
.carousel .slide .caption {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  

  .carousel .slide .caption h2,
  .carousel .slide .caption p {
    margin: 0 auto; 
    max-width: 80%;
  }
   .caption h2 {
    font-size: 24px; 
  }
  .caption p {
    font-size: 12px; 
  }

  /*H3 overskift */
  .eventyrer{
    margin-top: 34px;
    text-align: center;
  }

  .divider{
    background-color: var(--color-secondary);
    height: 2px;
    width: 50%;
    margin: -10px auto; /*Ta opp med christer*/
  }

  /*Blogpost card*/
  .card-container {
    width: 80%;
    height: 80vh;
    background-color: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.post-content {
    width: 350px;
    height: 500px;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    position: relative;
}

.post-content:hover .header_post {
    margin-top: -20px;
}

.post-content:hover .body-content {
    height: 50%;
}

.post-content:hover img {
    transform: translateY(-10px) translateX(-5px) scale(1.05);
}

.header_post {
    width: 100%;
    height: 40%;
    background: #ddd;
    position: absolute;
    top: 0;
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
}

.header_post img {
    max-width: 100%;
    height: auto;
    transition: ease-in-out 600ms;
}

.body-content {
    width: 100%;
    height: 60%;
    background: #fff;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
    cursor: pointer;
}

.post-content .body-content .post-content {
    width: 80%;
    height: 80%;
    background: #fff;
    position: relative;
}

.post-content .body-content .post-content h1 {
    font-size: 20px;
    font-weight: bold;
}

.post-content .body-content .post-content p {
    font-size: 14px;
    font-weight: normal;
}

.post-content .body-content .post-content .author {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    border-top: 1px solid rgba(0, 0, 0, .2);
    padding-top: 25px;
}

.post-content .body-content .post-content .author .postedBy {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 12px;
}

.post-content .body-content .post-content .author .postedBy span {
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.5;
    letter-spacing: 1px;
    font-weight: bold;
}

.post-content .body-content .post-content .author .container_tags {
    display: flex;
    flex-direction: column;
}

.post-content .body-content .post-content .author .container_tags span {
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.5;
    letter-spacing: 1px;
    font-weight: bold;
}

.post-content .body-content .post-content .author .container_tags .tags ul {
    display: flex;
}

.post-content .body-content .post-content .author .container_tags .tags ul li {
    font-size: 12px;
    letter-spacing: 2px;
    list-style: none;
    margin-left: 8px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.post-content .body-content .post-content .author .container_tags .tags ul li:first-child {
    margin-left: 0px;
}

.post-content .body-content .post-content .author .container_tags .tags ul li:before {
    content: '';
    text-align: center;
    width: 100%;
    height: 5px;
    background: #FC6042;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    z-index: -1;
    padding: 0px 1px;
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
}

.post-content .body-content .post-content .author .container_tags .tags ul li:hover:before {
    height: 18px;
}


