@import url('./colors.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
/*Iconer*/
@import url("https://www.nerdfonts.com/assets/css/webfont.css");


* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    font-family: 'Helvetica', sans-serif;
}

h1, 
h2,
h3 {
    font-family: 'Roboto Slab', serif;
    font-weight: 900;
}

.nf-md-menu .nf-md-close .nf-fa-chevron_right{
   font-size: 24px; 
}

/*Mobile first*/
app-navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-background);
    font-size: large;
}
app-navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: var(--padding-sm);
}
.branding {
    width: 150px;
    height: 50px;
    background-image: url("../media/Eventyrer.png");
    background-size: cover;
    background-position: 50% 45%;
}
#menuToggle {
    font-size: large;
    background-color: transparent;
    border: none;
    margin-right: 10px;
}

.dropdown {
    position: absolute;
    top: 110%;
    right: 0;
    min-width: 150px;
    background-color: var(--color-base-200);
    box-shadow: var(--box-shadow-md);
    display: none;
    z-index: 1000;
}

.dropdown.open {
    display: block;
}

.dropdown ul {
    list-style: none;
    padding: var(--none);
    margin: var(--none);
}

.dropdown li {
    padding: var(--none);
    margin: var(--none);
}

.dropdown li a {
    text-decoration: none;
    display: block;
    line-height: 1.2;
    color: var(--color-neutral);
    text-align: center;
    padding: var(--padding-sm);
}

.dropdown li a:hover {
    color: var(--color-info-content);
    background-color: var(--color-primary);   
}

/*Karusellen*/
.carousel {
    display: block;
    position: relative;
    width: 100%;
    height: 250px;
    background-color: var(--color-primary);
    margin-bottom: 48px;
}
.carousel .slide {
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
}
.carousel .slide.active {
    display: block;
}
.carousel .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.prev, 
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    font-size: 1.2em;
    
}
.prev {left: 12px;}
.next {right: 12px;}

.indicators {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 100%;
}
.indicator {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 4px;
    overflow: hidden;
    border: 2px solid var(--color-base-300);
    box-shadow: var(--box-shadow-sm);
    transition-duration: 0.5s;
}
.indicator.active {
    height: 64px;
    width: 64px;
}
.indicator img {
 height: 100%;
 width: 100%;
 object-fit: cover;
}
.carousel .slide .caption {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0 , 0, 0, 0.5);
    color: white;
  }
  

  .carousel .slide .caption h2,
  .carousel .slide .caption p {
    margin: 0 auto; 
    max-width: 60%;
  }
   .caption h2 {
    font-size: 24px; 
  }
  .caption p {
    font-size: 12px; 
  }

  /*H3 overskift */
  .eventyrer{
    margin-top: 64px;
    text-align: center;
  }

  .divider{
    background-color: var(--color-secondary);
    height: 2px;
    width: 50%;
    margin: 0 auto;
  }
  .dividerfooter{
    background-color: var(--color-secondary);
    height: 4px;
    width: 100%;
  }
  /*Blogpost card*/
  .post-container {
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
  }
  .card-container {
    width: 100%;
    max-width: 300px;
    background: var(--color-base-200);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow-lg);
    border-radius: 10px;
    overflow: hidden;
}

.hero-container {
    width: 100%;
    aspect-ratio: 16 / 9;
    background: #ddd;
   
}

.hero-container img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    transition: ease-in-out 600ms;
}

.body-content {
    width: 100%;
    
    padding: 0 12px 18px 12px;
    
    cursor: pointer;
}



.body-content h3 {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

.body-content  p {
    font-size: 14px;
    font-weight: normal;
}

.body-content .author {
    width: 100%;
    padding-top: 8px;
    border-top: 1px solid rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 8px;
    text-transform: uppercase;
    opacity: 0.5;
    letter-spacing: 1px;
}

.card-container .actions {
    width: 100%;
}



/*.body-content .author span {
}*/



.post-content .body-content  .author .tags-container .tags ul li {
    font-size: 12px;
    letter-spacing: 2px;
    list-style: none;
    margin-left: 8px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.post-content .body-content  .author .tags-container .tags ul li:first-child {
    margin-left: 0px;
}

.post-content .body-content  .author .tags-container .tags ul li:before {
    content: '';
    text-align: center;
    width: 100%;
    height: 5px;
    background: #FC6042;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    z-index: -1;
    padding: 0px 1px;
}

.post-content .body-content  .author .tags-container .tags ul li:hover:before {
    height: 18px;
}  

/*Knapper*/
.btn {
    /* margin-top: 100px; */
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    padding: 6px 10px 4px 10px;
    border-radius: 4px;
    text-align: center;
    line-height: 1;
    transition-duration: 0.1s;
    box-shadow: var(--box-shadow-sm);
    border: 2px solid transparent;
}

.app-btn-info {
    background-color: var(--color-info);
    color: var(--color-info-content);
    border-color: var(--color-info);
}

.app-btn-info:hover {
    background-color: var(--color-base-100);
    color: var(--color-info); 
}

.card-read-more {
    width: 100%;
    background-color: var(--color-info);
}
.login-btn {
  width: 35%;
  background-color: var(--color-success); 
   
}
.registrer-btn{
    width: 100%;
    background-color: var(--color-success);   
}
.login-btn .registrer-btn:hover {
    background-color: var(--color-base-100);
    color: var(--color-success); 
}
.post-btn, .slett-btn{
    width: 30%;
    background-color: var(--color-success);

}
.slett-btn{
    background-color: var(--color-error);
}

/*LOGIN*/
.login, .register {
    width: 300px;
    background: var(--color-base-200);
    box-shadow: var(--box-shadow-lg);
    border-radius: 10px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
 
  
  .login, .register:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .login-container, .register-container {
    padding: 20px;
  }
  
  input[type=email], input[type=password],input[type=name], input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
.input-wrapper {
    padding: 6px 0;
}
  
.actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 12px;
}

a {
	color: var(--color-info);
} 

/*Ny bloggpost*/
.make-container {
    width: 350px;
    height: 550px;
    background: var(--color-base-200);
    box-shadow: var(--box-shadow-lg);
    border-radius: 10px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    margin-bottom: 10px;

  }

  .make-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .make-container form {
    padding: 20px;
    width: 100%;
  }
  textarea {
    width: calc(100% - 40px);
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    height: 200px;
    resize: 0;
  }

  input[type="text"],
  textarea,
  input[type="file"] {
    width: calc(100% - 40px);
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
 
  /*opprett bloggpost banner */
  .notification {
    padding: 12px;
    margin-bottom: 10px;
  }
  
  .notification-title {
    font-weight: bold;
    margin-bottom: 5px;
  }


  .notification.success {
    background-color: var(--color-success);
  }

  .notification.error {
    background-color: var(--color-error);
  }
  /*single post page*/
  .single-post-page {
    display: block;
    width: 100%;
    background-color: var(--color-background);
    line-height: 1.3;
  }
  .single-post-content {
    padding: 20px;
  }
  .single-post-page img {
    width: 100%;
    height: auto;
  }
  .btn-back {
    background-color: var(--color-info);
  }
  .btn-back:hover {
    background-color: var(--color-base-100);
    border: 2px solid var(--color-info);
  }
.single-post-page .author {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-neutral);
}
.single-post-page .author .light-text {
  color: hsl(0, 0%, 42%);
}

/*ADMIN side*/
.admin-list {
  list-style-type: none;
}

.admin-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.admin-list li .thumbnail {
  width: 36px;
  height: 36px;
  margin-right: 12px;
  border-radius: 100%;
  border: 2px solid var(--color-base-300);
}

.admin-list li span {
  flex-grow: 1;
  font-size: 18px;
  margin-right: auto;
  margin-left: auto;
}

.admin-list li button {
  margin-left: 10px;
}

.edit-btn, .delete-btn {
  margin: 0 10px 10px 0;
  padding: 5px 10px;
  
}
.edit-btn{
  background-color: var(--color-info);
  border: 2px solid var(--color-info);

}
.delete-btn{
  background-color: var(--color-error);
  border: 2px solid var(--color-error);
}
.edit-btn:hover, .delete-btn:hover {
  background-color: var(--color-base-100);
}
