   
  .make-container h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  .make-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .make-container form {
    width: 100%;
    max-width: 500px;
    padding: 20px;
  }

  .make-container form input,
  .make-container form textarea {
    width: 100%;
  }
  .make-container form .actions {
    width: 100%;
    padding: 12px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #text {
    height: 200px;
    resize: none; 
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .slett-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
 

